<div class="center-position">
  <h2>Deletar Usuario</h2>
    <div *ngIf="user">
      <label> Id: <strong>{{ user.id }}</strong>
      </label>
      <br />
      <label>
        Nome: <strong>{{ user.first_name }}</strong>
      </label>
      <br />
      <label>
        Sobrenome: <strong>{{ user.last_name }}</strong>
      </label>
      <br />
      <br />
      <button (click)="delete()" class="fixed-color">Confirmar</button>
      <button (click)="cancel()">Cancelar</button>
    </div>
</div>
